{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Arbeitszeit erfassen</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('time') }}">
            Alle anzeigen
        </a>
    </li>
</ul>
{% endblock %}
